<h3>Registracija novog Rukovodioca</h3>

<div class="container">
    <div class="row">
        <div class="column">
        <table class="table table-striped table-hover table-sm">
            <tbody>
            <tr>
                <td>Ime:</td>
                <td><input type="text" name="ime" [(ngModel)]="ime" /></td>
            </tr>
            <tr>
                <td>Prezime:</td>
                <td><input type="text" name="prezime" [(ngModel)]="prezime" /></td>
            </tr>
            <tr>
                <td>Korisnicko ime:</td>
                <td>
                <input type="text" name="username" [(ngModel)]="username" />
                </td>
            </tr>
            <tr>
                <td>Lozinka:</td>
                <td>
                <input type="password" name="lozinka" [(ngModel)]="lozinka" />
                </td>
            </tr>
            <tr>
                <td>Datum rodjenja:</td>
                <td>
                <input type="text" name="datumRodjenja" [(ngModel)]="datumRodjenja" />
                </td>
            </tr>
            <tr>
                <td>Mail:</td>
                <td>
                <input type="text" name="mailRukovodioca" [(ngModel)]="mailRukovodioca" />
                </td>
            </tr>
            <tr>
                <td>Telefon:</td>
                <td>
                <input type="text" name="telefon" [(ngModel)]="telefon" />
                </td>
            </tr>
            <tr>
                <td>ID institucije:</td>
                <td>
                <input type="text" name="idInstitucije" [(ngModel)]="idInstitucije" />
                </td>
            </tr>
           
            Treba input polje za nstituciju koju bira iz select liste
            <br>
            Svi Rukovodioci ce biti useri, a mi cemo rucno uneti jednog sa username admin i lozinkom admin246 u bazu
            <br>
            Ukoliko se uloguje sa admin sifrom ide na admin stranu
            <br>
            Ukoliko se uloguje kao ispravan - registrovan korisnik ide na user stranu

            </tbody>
        </table>
        </div>
    </div>
</div>

<br />
<div>
  <button (click)="register()">Register</button>
  <br />
  <a routerLink="">Povratak na prijavu</a>
</div>
