<h3>Priložite neophodne datoteke:</h3>
<br />
<div class="container">
  <div class="row">
    <div class="column">
      <table class="table table-striped table-hover table-sm">
        <tbody>
          <tr>
            <td>Opis projekta (prvi deo, PDF):</td>
            <td><input type="file" name="opisProjekta1" /></td>
          </tr>
          <tr>
            <td>Opis projekta (drugi deo, PDF):</td>
            <td><input type="file" name="opisProjekta2" /></td>
          </tr>
          <tr>
            <td>Budžet (Excel) :</td>
            <td><input type="file" name="budzetProjekta" /></td>
          </tr>
          <tr>
            <td>Gantogram (Excel) :</td>
            <td><input type="file" name="gantogramProjekta" /></td>
          </tr>
          <tr>
            <td>Prezentacija projekta (PDF) :</td>
            <td><input type="file" name="prezentacijaProjekta" /></td>
          </tr>
          <tr>
            <td>Izjave (PDF) :</td>
            <td><input type="file" name="izjaveProjekta" /></td>
          </tr>
          <tr>
            <td>Biografija sa bibliografijama (PDF) :</td>
            <td><input type="file" name="biografijaProjekta" /></td>
          </tr>
          <tr>
            <td>Etičke saglasnosti (PDF) :</td>
            <td><input type="file" name="etickeSaglasnostiProjekta" /></td>
          </tr>

          <tr>
            <td>Uticaj projekta na životnu i društvenu sredinu (PDF) :</td>
            <td><input type="file" name="uticajProjekta" /></td>
          </tr>
          <tr>
            <td>Pisma podrške trećih lica (PDF) :</td>
            <td><input type="file" name="pismaPodrske" /></td>
          </tr>
          <tr>
            <td>Biznis plan (PDF) :</td>
            <td><input type="file" name="biznisPlanProjekta" /></td>
          </tr>
          <tr>
            <td>Dodatna dokumentacija (PDF) :</td>
            <td><input type="file" name="dodatnaDokumentacija" /></td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
      <table>
        <tr>
          <td>
            <input type="button" value="Odustani" class="btn btn-danger" />
          </td>
          <td><input type="button" value="Snimi" class="btn btn-warning" /></td>
          <td>
            <input type="button" value="Pošalji" class="btn btn-success" />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
